{% extends "base.html" %}
{% load static %}

{% block title %}Es un block{% endblock %}
{% block contenido %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Estás en el tenant: {{ request.tenant.schema_name }}</h5>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="maximize">
                        <i class="fas fa-expand"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                {% if request.tenant.schema_name == "tenant2" %}
                <img src="{% static 'img/banner1.jpg' %}" alt="Logo tenant" class="img-circle" >
                {% elif request.tenant.schema_name == "tenant1" %}
                <img src="{% static 'img/banner2.jpg' %}" alt="Logo tenant" class="img-circle">
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content_header %}
{% with breadcrumb_title="Inicio" %}
{{ block.super }}
{% endwith %}
{% endblock %}

